
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= context.config.title %></title>
</head>
<body>
  <div id="<%= context.config.mountElementId || 'root' %>"></div>
</body>
</html>